@font-face{font-family:Orbitron;src:url('/fonts/liquid-chrome/Orbitron-Variable.ttf') format('truetype');font-weight:400 900;font-display:swap}
@font-face{font-family:Audiowide;src:url('./fonts/audiowide/Audiowide-Regular.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Tektur;src:url('./fonts/tektur/Tektur[wdth,wght].ttf') format('truetype');font-weight:400 900;font-stretch:75% 100%;font-display:swap}
@font-face{font-family:'Zen Dots';src:url('./fonts/zendots/ZenDots-Regular.ttf') format('truetype');font-weight:400;font-display:swap}
@font-face{font-family:Chakra;src:url('/fonts/inkstorm/ChakraPetch-Regular.ttf') format('truetype');font-weight:400;font-display:swap}
